<div class="container">
    <h2 class="text-center">Modifier le module</h2>
  
    <div class="alert alert-success mt-3" *ngIf="messageModification">{{ messageModification }}</div>
  
    <form class="text-center" (submit)="modifierModule()" style="max-width: 400px; margin: 0 auto;">
      <div class="mb-3">
        <label for="libelle" class="form-label">Libellé :</label>
        <input type="text" class="form-control" id="libelle" [(ngModel)]="module.libelle" name="libelle" required>
      </div>
  
      <!-- Add other properties of the module that you want to update -->
  
      <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
  </div>
  